<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="Cloud2Class provides a range of virtual training environment for education and enterprise. Manage lessons, files, and worksheets, all through a browser">
<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/linker/styles/vendor/bootstrap/bootstrap-theme.min.css">
<link rel="stylesheet" href="/linker/styles/cloud2class.css">
<link rel="stylesheet" href="/linker/styles/jquery-ui/jquery-ui.css">
<link rel="stylesheet" href="/linker/styles/jquery-ui/jquery-ui.structure.css">
<link rel="stylesheet" href="/linker/styles/jquery-ui/jquery-ui.theme.css">
<!--STYLES END-->
<title>Welcome to the Cloud2Class Portal</title>
</head>
<body style="cursor: auto;">
<div class="container" id="body">
<nav class="navbar navbar-inverse navbar-fixed-top container" role="navigation">
      <div class="container-fluid" style="padding-left:0;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="margin-top:4px; font-size: 22px; color: white;" class="navbar-brand" href="https://dev-control.cloud2class.com">Cloud2Class</a>
        </div>
<% if (req.session.User) { %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
          <ul class="nav navbar-nav navbar-right" style="margin-right:0">
           <li style="margin-top:10px"><div class="btn-group">
	  <a type="button" class="btn btn-default" href="/logout">logout</a>
  <a type="button" class="btn btn-default" href="/admin">admin</a>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      menu
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
</div></li>
          </ul>
        </div><!-- /.navbar-collapse -->
<% } %>
      </div>
    </nav>
<div style="padding:20px; margin-top:10px; text-align:center;">
<%- body %>
</div>
<footer>
<p style="font-size:18px;">By continuing to use this site, you agree to the use of cookies in the delivery of all cloud2class services.</p>
<p>All content is copyright 2014 of Bright Process Ltd, Company number 6224201, <a href="http://brightprocess.com">www.brightprocess.com</a>, <a href="mailto:info@brightprocess.com">info@brightprocess.com</a></p>
<p>"Linux" is the registered trademark of Linus Torvalds in the United States and other countries. "Raspberry Pi" is a trademark of the Raspberry Pi Foundation.</p>
</footer>
</body>
<!--SCRIPTS-->
<script src="/linker/js/vendor/jquery/jquery.min.js"></script>
<script src="/linker/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/cloud2class.js"></script>
<script src="/linker/js/jquery-ui.js"></script>
<!--SCRIPTS END-->
</html>
